# provider=model
# Use `opencode models <provider>` to inspect available model IDs.

zai-coding-plan=zai-coding-plan/glm-4.7
opencode-go=opencode-go/glm-5
opencode=opencode/gpt-5-nano
google=google/gemini-2.5-pro
openrouter=openrouter/openai/gpt-5.2-codex
minimax=minimax/MiniMax-M2.5
perplexity-agent=perplexity-agent/openai/gpt-5.2
perplexity=perplexity/sonar-reasoning-pro
